
#results {
    display:none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
  background-color: grey;
  font-style: italic;
  font-family: sans-serif;
}

body {
    background-image: url("https://ih1.redbubble.net/image.782918079.2138/st,small,507x507-pad,600x600,f8f8f8.u5.jpg");
    background-color: #cccc;
}
